:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */

*{
  padding: 0;
  margin: 0;
 }

 body{
  display: flex;
  justify-content: center;
  background-color: black;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  /* padding: 20px; */
}

/* HEADER */
.header{
  margin-top: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #F55A5A;
  color: white;
  width: 100%;
  gap: 10px;
}

/* HEADER ICON (GOLBE) */
.globe-icon{
  width: 40px;
  height: 40px;

}

/* Card Body  */

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  height: 300px;
  border-top: 0.1px solid #F5F5F5;
  border-bottom: 0.1px solid #918E9B;
}

/* We have 2 divided card into 2 parts */

/* 1st LEFT */
.card-left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height:90%;
  margin: 10px;
}

/* Part of card left section */
.card-image{
  height:270px;
  width:170px;
  object-fit: cover;
  border-radius: 10px;  
}

/* 2nd RIGTH */
.card-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 90%;
  padding:10px;
}

.icon{
  height: 20px;
  width: 20px;
}

.card-right-top{
  font-family:sans-serif;
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
  align-items: center;
}

.card-right-top > p{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 20px;
}

.card-right-top > a{
  color: #918E9B;
  font-size: 20px;
  font-weight: 100;
}

.card-right-location{
  margin-bottom: 10px;
  text-align: center;
}


.card-right-description{
  font-family: 'Lucida Console', monospace;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  text-align: justify;
}


/* Media Queries */

@media (max-width: 850px) {

  .page{
    width:90%;
  }

  .header {
    font-size: 18px;
    padding: 15px 0;
  }

  .card-container {
    /* flex-direction: column; */
    height: auto;
  }

  .card-left {
    width: 100%;
    max-width: none;
  }

  .card-right {
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .card-image {
    height: 300px;
    width: 90%;
    /* height: 90%;
    width: 90%; */
  }

  .card-right-top > p {
    font-size: 18px;
  }

  .card-right-top > a {
    font-size: 16px;
  }

  .card-right-description {
    font-size: 12px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  
  .page{
    width:100%;
    margin: 0;
  }
  
  .header {
    font-size: 16px;
    padding: 10px auto;
  }

  .card-container {
    flex-direction: column;
    padding: 5px;
  }

  .card-left {
    margin: 0;
    width: 100%;
  }

  .card-right {
    width: 100%;
    padding: 5px;
  }

  .card-image {
    /* height: 150px; */
    height: 300px;
    /* height: 90%; */
    width: 75%;

  }

  .card-right-top > p {
    font-size: 16px;
  }

  .card-right-top > a {
    font-size: 14px;
  }

  .card-right-description {
    font-size: 10px;
  }
}